@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AllBrandsModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" style="width: 100%; height: 270px" src="@Model.Logo" alt="House Image">
        <hr>
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <br />
            @if (this.User.Identity.IsAuthenticated) //TODO Only Seller Should be able to access this tab
            {
                <form class="input-group-sm" asp-controller="Cloth"
                      asp-action="BrandClothes" asp-route-id="@Model.Id" method="post">
                    <h4>
                        <input class="btn btn-primary mb-3" type="submit" value="View all clothes" />
                    </h4>
                </form>
                <a asp-controller="Brand" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
