@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClothAddToShopAndEditModel
@{
    ViewBag.Title = "Add Cloth";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<partial name="_ClothesFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}