@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ClothingShop.Models.Clothes
@using ClothingShop.Infrastructure.Data.Enums
@model AllBrandsQueryModel

@{
    ViewBag.Title = "All Brands";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
    <div class="row">
        <div class="form-group col-md-6" style="position: relative; left: 20%;">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search">
        </div>

        <div class="col-md-3 mt-4">
            <div class="form-group" style="position: relative; left: 100%;">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="row mb-5"></div>

@if (!Model.Brands.Any())
{
    <h2 class="text-center">No clothes found by the given criteria!</h2>
}

<div class="row">
    @foreach (var brand in Model.Brands)
    {
        <partial name="_BrandsPartial" model="@brand" />
    }
</div>

